.about-image {
    width: 100%;
    top: -50px;
    position: absolute;
    object-fit: contain;
    z-index: -1;
    filter: brightness(50%);
    object-position: top;
}

.header-text {
    text-decoration: none;
    color:white;
}

.about-title {
    text-align: center;
    position: relative;
    margin-top: 270px;
    margin-bottom: 15px;
    color: white;
    font-size: 50px;
}

.about-text-container{
    background-color: rgb(255, 255, 255);
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 100px;
    align-items: center;

}

.about-text {
    width: 1400px;
    text-align: center;
    font-size: 20px;
}