.contact-titlu {
    text-align: center;
    color: white;
    margin-top: 270px;
    font-size: 50px;
}

.container-contact {
    height: auto;
    background-color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    z-index: -1;
}

.bara-despartire {
    background-color: black;
    z-index: -1;
    width: 200px;
    height: 200px;
}

#map {
    height: 250px;
    width: 500px;
}
