.through-the-years {
    height: 800px;
    width: 1920px;
    background-color: #77624e;
}
.istoric-text {
    width:1920px;
    position: relative;
    margin: 0;
    top: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.history-div{
    width: 1920px;
    display: flex;
    justify-content: center;

}
.history-nav{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.through.through-the-years-nav {
    flex-direction: row;
}

.year-button {
    font-size: 30px;
    margin: 70px 20px;
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.history-description-container {
    display: flex;
    justify-content: center;
    width: 1920px;
    margin: 0;
}

.history-description {
    width: 1200px;
    font-size: 30px;
    text-align: center;
}