body {
  font-family: "Segoe UI", "Times New Roman";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* button {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  min-height: 50px; 
  padding: 10px 20px;
  background: gray;
  color: white;
  cursor:pointer;
} */