* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}

div.titlu {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  position: relative;
  text-align: center;
}

div.despre {
  display: flex;
  position: absolute;
  top: 35px;
  left: 100px;
}

div.arii {
  display: flex;
  position: absolute;
  top: 35px;
  left: 250px;
}

div.contact {
  display: flex;
  position: absolute;
  top: 35px;
  right: 100px;
}

a.title {
  color: white;
  text-decoration: none;
}

a.about {
  color: white;
  text-decoration: none;
}

a.contactUs {
  color: white;
  text-decoration: none;
}

a.practices {
  color: white;
  text-decoration: none;
}
img.ladyJustice {
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%px;
  overflow: hidden;
  top: -10px;
  object-fit: cover;
  filter: brightness(50%);
}
